<mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed>
  <mdl-layout-header>
    <mdl-layout-header-row>
      <mdl-layout-title>Angular2-MDL-Firebase demo app</mdl-layout-title>
      <mdl-layout-spacer></mdl-layout-spacer>
      <button *ngIf="!loggedIn" (click)="login()" mdl-button
        mdl-button-type="raised" mdl-colored="accent" mdl-ripple>
        Sign in
      </button>
      <img *ngIf="loggedIn" (click)="logout()" [src]="user.photoURL"
        mdl-tooltip="Logout" alt="user.displayName" class="app-avatar">
    </mdl-layout-header-row>
  </mdl-layout-header>
  <mdl-layout-drawer>
    <mdl-layout-title>Title</mdl-layout-title>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link">Link</a>
      <a class="mdl-navigation__link">Link</a>
      <a class="mdl-navigation__link">Link</a>
    </nav>
  </mdl-layout-drawer>
  <mdl-layout-content class="app-content">
    <!-- Your content goes here -->
    <h2>Chat rooms</h2>
    <div *ngIf="loggedIn">
      <select [(ngModel)]="chatRoomsFilter" (ngModelChange)="filterChatRooms()">
        <option *ngFor="let option of chatRommsFliterOptions"
          [ngValue]=option.value >{{option.name}}</option>
      </select>
    </div>
    <mdl-list>
      <mdl-list-item *ngFor="let chatRoom of chatRooms | async"
        mdl-ripple lines="2">
        <mdl-list-item-primary-content>
          <span>{{chatRoom.name}}</span>
          <mdl-list-item-sub-title>
            {{chatRoom.description}}
          </mdl-list-item-sub-title>
        </mdl-list-item-primary-content>
      </mdl-list-item>
    </mdl-list>

    <mdl-button (click)="showAddChatRoomDialog()" mdl-button-type="fab"
      mdl-colored="accent" mdl-ripple class="app-add-button">
      <mdl-icon>add</mdl-icon>
    </mdl-button>
    <mdl-dialog #addChatRoomDialog
      [mdl-dialog-config]="{clickOutsideToClose: true}">
      <h3 class="mdl-dialog__title">Add new chat room</h3>
      <div class="mdl-dialog__content">
        <mdl-switch [(ngModel)]="newChatRoom.public" mdl-ripple>
          Public
        </mdl-switch>
        <mdl-textfield type="text" label="Name" [(ngModel)]="newChatRoom.name"
          floating-label autofocus></mdl-textfield>
        <mdl-textfield label="Description..."
          [(ngModel)]="newChatRoom.description" rows="3"
          floating-label></mdl-textfield>
      </div>
      <div class="mdl-dialog__actions">
        <button mdl-button (click)="saveChatRoom()" mdl-button-type="raised"
          mdl-colored="primary" mdl-ripple>Save</button>
        <button mdl-button (click)="addChatRoomDialog.close()" mdl-ripple>
          Cancel
        </button>
      </div>
    </mdl-dialog>
  </mdl-layout-content>
</mdl-layout>
