.app-add-button {
  bottom: 20px;
  right: 20px;
  position: fixed;
}
.app-avatar {
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  width: 40px;
}
.app-content {
  margin: 20px;
}
.app-dialog {
  width: 360px;
}
